.content{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #0f440f;
}

.watch {
    width: 200px;
    height: 200px;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ec00a9;
}
.tim{
    width: 355px;
    height: 359px;
    margin: 17px;
    background-color: rgb(0, 0, 0);
}

.islam{
    width: 500px;
    height: 500px;
    margin: 100px;
    background-color: blue;
    align-items: center;
}
.islam:hover{
    background-color: chartreuse;
}
.result{
    width: 800px;
    height: 500px;
    background-color: aqua;
    margin: 0 auto;
}
